h1 {
text-align: center;
text-transform: uppercase;
color:  #ffffff;
}
header {
background-color: #a6a6a6;
}
h2 {
text-transform: uppercase;
color: #000099;
}
section {
background-color: #8c8c8c;
}
#img1 { 
  width: 605px;
    height: 400px;
}
#img2 {
width: 605px;
    height: 400px;
}
#img3 {
width: 605px;
    height: 400px;
}
nav {
color:#000000;
}
